{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
  <h1>Вход</h1>
  {% if form.errors %}
    <p>
      Имя пользователя и пароль не опознаны.
      Попробуйте еще раз.
    </p>
  {% else %}
    <p>Используйте форму для входа. Если вы пока не регистрировали аккаунт, то <a href="{% url 'register' %}"> пройдите по ссылке </a>для регистрации</p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Войти"></p>
    </form>
    <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
  </div>
  <div class="social">
    <ul>
      <li class="google">
        <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
      </li>
    </ul>
  </div>
{% endblock %}