{% extends "base.html" %}

{% block title %}Сводная панель{% endblock %}

{% block content %}
  <h1>Сводная панель</h1>

    {% with total_images_created=request.user.images_created.count %}
      <p>Добро пожаловать в панель управления. Количество закладок: {{ total_images_created }}</p>
    {% endwith %}

    <p>Перетащите кнопку в панель закладок ->
      <a href="javascript:{% include 'bookmarklet_launcher.js' %}" class="button">В закладки</a></p>
    <p>Можете <a href="{% url 'edit' %}">отредактировать</a> ваш профиль
      или <a href="{% url 'password_change' %}">сменить ваш пароль</a>.</p>
{% endblock %}